In [1]:
from __future__ import print_function
import os

import pandas as pd
import numpy as np

In [2]:
data_path = ['data']
file_name = 'Vuelos.csv'
filepath = os.sep.join(data_path + [file_name])

dataset = pd.read_csv(filepath, low_memory=False)

In [4]:
display(dataset.shape)
display(dataset.head(5))

(480085, 38)

,Unnamed: 0,MONTH,DAY_OF_MONTH,FL_DATE,UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,ORIGIN_WAC,...,ACTUAL_ELAPSED_TIME,FLIGHTS,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 36
0,0,8,31,2017-08-31,F9,LGA,"New York, NY",NY,New York,22,...,175.0,1.0,762.0,4,NaN,NaN,NaN,NaN,NaN,NaN
1,1,8,2,2017-08-02,WN,STL,"St. Louis, MO",MO,Missouri,64,...,NaN,1.0,888.0,4,NaN,NaN,NaN,NaN,NaN,NaN
2,2,8,2,2017-08-02,WN,STL,"St. Louis, MO",MO,Missouri,64,...,138.0,1.0,888.0,4,NaN,NaN,NaN,NaN,NaN,NaN
3,3,8,2,2017-08-02,WN,STL,"St. Louis, MO",MO,Missouri,64,...,166.0,1.0,888.0,4,0.0,39.0,26.0,0.0,44.0,NaN
4,4,8,2,2017-08-02,WN,TPA,"Tampa, FL",FL,Florida,33,...,NaN,1.0,1130.0,5,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Observamos el resumen general de las observaciones que tenemos
#Agregar grafico de barras o histograma
dataset.describe()

,Year,Quarter,Month,DayofMonth,DayOfWeek,AirlineID,FlightNum,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
count,570131.0,570131.0,570131.0,570131.000000,570131.000000,570131.000000,570131.000000,570131.000000,5.701310e+05,570131.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,2018.0,1.0,1.0,15.934382,3.735534,19996.200089,2573.253308,12654.214673,1.265424e+06,31741.802712,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,0.0,0.0,8.983100,1.985487,396.988509,1886.208649,1516.342836,1.516341e+05,1287.661133,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2018.0,1.0,1.0,1.000000,1.000000,19393.000000,1.000000,10135.000000,1.013503e+06,30070.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2018.0,1.0,1.0,8.000000,2.000000,19790.000000,924.000000,11292.000000,1.129202e+06,30713.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2018.0,1.0,1.0,16.000000,4.000000,19977.000000,2028.000000,12889.000000,1.288903e+06,31453.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2018.0,1.0,1.0,24.000000,5.000000,20368.000000,4041.000000,13931.000000,1.393102e+06,32467.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2018.0,1.0,1.0,31.000000,7.000000,21171.000000,7439.000000,16218.000000,1.621801e+06,36133.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#Contamos la cantidad de vuelos segun ciudad de salida
#Agregar grafico de barras o histograma

dataset.groupby("OriginCityName").size().to_frame().sample(5)

                            0
OriginCityName
North Bend/Coos Bay, OR    18
San Angelo, TX            128
White Plains, NY          764
Sacramento, CA           3638
Santa Maria, CA            14

In [6]:
#Contamos la cantidad de vuelos segun ciudad de destino
#Agregar grafico de barras o histograma
dataset.groupby("DestCityName").size().to_frame().sample(5)

                            0
DestCityName
Tucson, AZ               1536
Williston, ND             107
Clarksburg/Fairmont, WV    69
Rochester, NY            1089
Cincinnati, OH           3612

In [7]:

#Contamos al cantidad de vuelos cancelados

dataset.groupby("Cancelled").size().to_frame()

                0
Cancelled
0.0        552956
1.0         17175